set default="0"
set timeout=5

insmod efi_gop
insmod font
if loadfont ${prefix}/fonts/unicode.pf2; then
    insmod gfxterm
    set gfxmode=auto
    terminal_output gfxterm
fi

menuentry "1. Boot NIAT Live Workspace" {
    linux /boot/bzImage root=/dev/ram0 rw console=tty1 quiet
    initrd /boot/rootfs.cpio.gz
}

menuentry "2. Launch NIAT System Installer" {
    linux /boot/bzImage root=/dev/ram0 rw console=tty1 niat.installer=1 quiet
    initrd /boot/rootfs.cpio.gz
}

menuentry "3. Recovery Console (BusyBox Shell)" {
    linux /boot/bzImage root=/dev/ram0 rw console=tty1 init=/bin/sh
    initrd /boot/rootfs.cpio.gz
}

menuentry "4. Reboot System" {
    reboot
}
